.create-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 10px;
  }
  
  .card-product {
    background-color: black;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    margin-top: 0px;
  }
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
  }
  
  button[type='submit'] {
    padding: 8px 16px;
    background-color: #3b3939;
    border: none;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #e0e0e0;
  }